<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "app/base.html" %}
    {% block start %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        /* Basic CSS Styling */
        .coupon-section {
            margin: 20px 0;
            text-align: center;
        }
        .table {
            margin-top: 20px;
        }
        .table th, .table td {
            text-align: center;
        }
        .coupon-input {
            margin: 0 auto 10px auto;
            width: 50%;
        }
    </style>

  </head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Action</th>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            {% for cart_item in carts.cart_items.all %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <th>
              <a href="{% url 'remove_cart_items' cart_item.uid %}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
            </th>
            <td> <img src="/media/{{cart_item.pizaa.image}}" alt="" style="height: 100px ; width: 100px;"></td>
            <td>{{cart_item.pizaa.pizza_name}}</td>
            <td>{{cart_item.pizaa.price}}</td>
            <td>1</td>
            <td>{{cart_item.pizaa.price}}</td>

          </tr>
          
          {% endfor %}
          <tr>
            <td colspan="5" style="text-align: right;"><strong>Grand Total:</strong></td>
            <!-- <td><strong>{{carts.get_cart_total}}</strong></td> -->

            <td><a href="{{payment_url}} " class="btn btn-primary">Pay Now {{carts.get_cart_total}}</a></td>
        </tr>
         <!-- Coupon Section -->
    
        </tbody>
      </table>
      <div class="coupon-section">
        <h3>Apply Coupon</h3>
        <form  method="post">
          {% csrf_token %}
            <input type="text" class="form-control coupon-input" id="couponCode" name="coupon" placeholder="Enter Coupon Code" required>
            <button type="submit" class="btn btn-success">Apply Coupon</button>
        </form>
    </div>
</body>
{% endblock %}
</html>